{erl_opts, [debug_info, warnings_as_errors, warn_export_vars, warn_shadow_vars, warn_obsolete_guard]}.

{deps, [
    {cowboy, "2.12.0"},
    {jsx, "3.1.0"},
    {jwerl, "1.2.0"},
    {bcrypt, "1.2.2"},
    {epgsql, "4.7.1"},
    {poolboy, "1.5.2"},
    {uuid, "2.0.6", {pkg, uuid_erl}}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [realworld]}
]}.

{src_dirs, ["src"]}.

{relx, [
    {release, {realworld, "0.1.0"}, [realworld, sasl]},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
]}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]},
    {test, [
        {deps, [
            {meck, "0.9.2"},
            {proper, "1.4.0"}
        ]}
    ]}
]}.

{project_plugins, [
    {erlfmt, "1.2.0"}
]}.

{dialyzer, [
    {warnings, [
        unmatched_returns,
        error_handling,
        race_conditions,
        underspecs
    ]}
]}. 