{deps, [
    {jsx, "3.1.0"}
]}.

{escript_name, deployer}.
{escript_main_app, deployer}.
{escript_incl_apps, [deployer, jsx]}.
{escript_shebang, "#!/usr/bin/env escript\n"}.
{escript_comment, "%%\n"}.
{escript_emu_args, "%%! -smp enable -sname deployer +sbtu +A0\n"}.
{escript_top_level_app, deployer}.
{provider_hooks, [{post, [{compile, escriptize}]}]}.

%% Dialyzer options
{dialyzer, [
    {warnings, [unknown]},
    {get_warnings, true},
    {plt_apps, top_level_deps},
    {plt_extra_apps, [jsx]},
    {plt_location, local},
    {base_plt_apps, [stdlib, kernel, erts]},
    {base_plt_location, global}
]}.
