[
 {cookie_crud, [
     {port, 8082},
     {db_file, "cookies_node2.db"},
     {cluster, #{
         discovery => manual,
         node_name => "cookie_crud",
         instance_id => "node2",
         nodes => ['cookie_crud_node1@localhost', 'cookie_crud_node3@localhost'],
         cache_ttl => 300,
         cache_enabled => true
     }}
 ]},
 {kernel, [
     {logger_level, info},
     {logger, [
         {handler, default, logger_std_h,
          #{level => info,
            formatter => {logger_formatter, #{single_line => false}}}}
     ]}
 ]},
 {sasl, [
     {sasl_error_logger, false}
 ]}
].