[
 {cookie_crud, [
     {port, 8080},
     {db_file, "cookies.db"}
 ]},
 {kernel, [
     {logger_level, info},
     {logger, [
         {handler, default, logger_std_h,
          #{level => info,
            formatter => {logger_formatter, #{single_line => false}}}}
     ]}
 ]},
 {sasl, [
     {sasl_error_logger, false}
 ]}
].